.advanced {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advanced .container {
    display: flex;
    height: 248px;

}

.advanced-list {
    display: flex;
    gap: 30px;
}

.advanced-item {
    width: 270px;
}

.advanced-icon {
    @include centeredFlex;

    height: 120px;
    margin-bottom: 30px;
    
    border-radius: 4px;

    background-color: $team-background-color;
}

.advanced-title {
    margin-bottom: 10px;

    font-weight: 700;
    text-transform: uppercase;

    color: $title-text-color;
}

.advanced-text {
    line-height: 1.7;
    letter-spacing: 0.42px;
    
    color: $primary-text-color;
}