.logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: normal;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.part {
    color: var(--color-black);
}

.header .link {
    display: block;
    padding: 32px 0;

    color: var(--title-text-color);
    font-weight: 500;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .link:hover,
.header .link:focus {
    color: var(--accent-color);
}

.header .contact {
    color: var(--primary-text-color);
    font-weight: 500;
    text-decoration: none;
    padding: 32px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .contact:hover,
.header .contact:focus {
    color: var(--accent-color);
}

.header-section {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    gap: 50px;
    align-items: center;

}

.header .link-list {
    display: flex;
    gap: 50px;
}

.header .contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact-item .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    fill: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item .contact:hover,
.contact-item .contact:focus {
    fill: var(--accent-color);
}

.link-item {
    position: relative;
}

.current::after {
    content: '';

    display: block;
    position: absolute;
    left: 0;
    bottom: 0;

    border-radius: 2px;
    background-color: var(--accent-color);
    min-width: 100%;
    height: 4px;
}