.hero {
    @include centeredMargin;

    width: 1600px;
    height: 600px;
    
    padding-top: 200px;
    padding-bottom: 280px;
    
    background-color: $footer-color;
    background-image:  linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero\ image.jpg);
    @include centeredImg;
}

.hero-title {
    margin-bottom: 30px;
    
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 2.64px;

    color: $color-white;
}

.hero .button {
    display: block;

    width: 216px;
    height: 50px;

    padding: 10px 32px;
    
    @include centeredMargin;
    
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    
    color: $color-white;
    background-color: $accent-color;

    border-radius: 4px;

    @include transition(background-color);

}

.hero .button:hover,
.hero .button:focus {
    background-color: $hero-button-color;
}
