.photo-section {
    padding-bottom: 94px;
}

.photo-title {
    margin-bottom: 50px;

    text-align: center;
    font-size: 36px;
    font-weight: 700;

    color: $title-text-color;
}

.photo-list {
    @include centeredFlex;
    gap: 30px;
}

.photo-thumb {
    position: relative;
}

.overlay {
    position: absolute;

    min-width: 100%;
    height: 70px;

    left: 0;
    bottom: 0;
    
    align-items: center;
    background-color: rgba(47, 48, 58, 0.80);
}

.photo-thumb-title {
    margin: 27px;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-align: center;
    text-transform: uppercase;
    
    color: $color-white;
}