body {
    width: 1600px;

    @include centeredMargin;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    color: $primary-text-color;
    background-color: $color-white;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.container {
    width: 1200px;

    padding-left: 15px;
    padding-right: 15px;

    @include centeredMargin;
    /* outline: 1px solid tomato; */
}

img {
    display: block;
    height: auto;
}