$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$hero-button-color: #188ce8;
$team-background-color: #F5F4FA;
$footer-color: #2F303A;
$color-white: #FFFFFF;
$color-black: #000000;
$footer-contact-color: rgba(255, 255, 255, 0.60);
$link-icon-color: #AFB1B8;